
<!DOCTYPE html>
{% load static %}
<html>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Paytone+One&display=swap" rel="stylesheet">

<link rel="stylesheet" href="{% static 'styles/style.css' %}">
    <head>
        <title>User Stories</title>
        <meta name='viewport' content='IE=edge'>
        
    </head>
    <body>


       {% if messages %}
       <ul class="messages">
           {% for message in messages %}
           <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
           {% endfor %}
       </ul>
       {% endif %}

       {% block content %}


       {% endblock %}
      
    </body>

</html>